:root{
    /* Light Theme */
    --light-bg: #f5f7fa;
    --light-p-text: #2c3e50;
    --light-s-text: #7f8c8d;
    --light-btn: #3498db;
    --light-btn-hover: #2980b9;
    --light-inp-feild: #ffffff;
    --light-inp-border: #d0d3d4;
    --light-msg-me: #d1f2eb;
    --light-msg-rec: #eaf2f8;
    
    /* Dark Theme */
    --dark-bg: #121212;
    --dark-p-text: #e0e0e0;
    --dark-s-text: #9e9e9e;
    --dark-btn: #1e88e5;
    --dark-btn-hover: #1565c0;
    --dark-inp-feild: #1f1f1f;
    --dark-inp-border: #333333;
    --dark-msg-me: #3e7d32;
    --dark-msg-rec: #37474f;
}


/* Theme Styling */

/* Main Body */
.light{
    background: var(--light-bg);
    color: var(--light-p-text);


    .sender{
        background-color: var(--light-bg);
    }
    .file-btn{
        background-color: var(--light-btn);
        transition: all 0.3s ease-in-out;
    }
    .file-btn:hover{
        background-color: var(--light-btn-hover);
    }
    .changePfpForm{
        background-color: var(--light-bg);
    }

    .contactName{
        color: var(--light-p-text);
        transition: all 0.3s ease-in-out;
    }
    .rec{
        background-color: var(--light-msg-rec);
    }
    .sent{
        background-color: var(--light-msg-me);
    }
    .hover-here:hover{
        color: var(--light-btn-hover);
    }

    .last-msg, .time{
        color: var(--light-s-text);
    }

    .pfp-my{
        border: 2px solid var(--light-btn)
    }

    hr{
        background-color: var(--dark-bg);
    }

    .menu-item{
        background-color: var(--light-bg);
    }
    
    /* Button Tags */
    .btn-light{
        background-color:   var(--light-btn);
        transition: all 0.3s ease-in-out;
    }
    .btn-light:hover{
        background-color: var(--light-btn-hover);
    }
    .info-email{
        color: var(--light-s-text);
    }
    .info-name{
        color: var(--light-p-text);
    }

    /* Anchor Tags */
    .an-light{
        color:   var(--light-btn);
        transition: all 0.3s ease-in-out;
    }
    .an-light:hover{
        color: var(--light-btn-hover);
    }
    
    /* Input Tags */
    .inp-light{
        background-color: var(--light-inp-feild);
        border: var(--light-inp-border) solid 2px;
    }
    .inp-light::placeholder{
        color: var(--light-s-text);
    }
    .text-msg{
        color: var(--light-p-text);
    }
}
.dark{
    background: var(--dark-bg);
    color: var(--dark-p-text);


    .sender{
        background-color: var(--dark-bg);
    }
    .contactName{
        color: var(--dark-p-text);
        transition: all 0.3s ease-in-out;
    }
    .changePfpForm{
        background-color: var(--dark-bg);
    }
    .file-btn{
        background-color: var(--dark-btn);
        transition: all 0.3s ease-in-out;
    }
    .file-btn:hover{
        background-color: var(--dark-btn-hover);
    }
    .pfp-my{
        border: 2px solid var(--dark-btn)
    }
    .rec{
        background-color: var(--dark-msg-rec);
    }
    .sent{
        background-color: var(--dark-msg-me);
    }
    .hover-here:hover{
        color: var(--dark-btn-hover);
    }

    .info-email{
        color: var(--dark-s-text);
    }
    .info-name{
        color: var(--dark-p-text);
    }
    .last-msg, .time{
        color: var(--dark-s-text);
    }

    hr{
        background-color: var(--light-bg);
    }

    .menu-item{
        background-color: var(--dark-bg);
    }
    
    /* Button Tags */
    .btn-light{
        background-color:   var(--dark-btn);
        transition: all 0.3s ease-in-out;
    }
    .btn-light:hover{
        background-color: var(--dark-btn-hover);
    }
    /* Anchor Tags */
    .an-light{
        color: var(--dark-btn);
        transition: all 0.3s ease-in-out;
    }
    .an-light:hover{
        color: var(--dark-btn-hover);
    }

    /* Input Tags */
    .inp-light{
        background-color: var(--dark-inp-feild);
        color: var(--dark-p-text);
        border: var(--darl-inp-border) solid 2px;
    }
    .inp-light::placeholder{
        color: var(--dark-s-text);
    }
    .text-msg{
        color: var(--dark-p-text);
    }
}
